<% layout('layouts/boilerplate') %> 

<div class="container">
    <div class="row">
        <div class="col l6 offset-l3">
            <blockquote><h4>Create your account</h4></blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col l6 offset-l3">
            <form action="/user/register" method="POST">
                <label for="username">Name</label>
                <input type="text" name = "username" placeholder="username" required id="username">
                <label for="email">Email</label>
                <input type="text" name = "email" placeholder="Email" required id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <p>
                    <label>
                        <input type="checkbox" class="black-text" onclick="myFunction()">
                      <span>Show password</span>
                    </label>
                  </p>
                
                <button id="submit" class="btn">submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>