<% if(success && success.length) { %>
<div class="card-panel green accent-1"><%= success %></div>
<% } %> <% if(error && error.length) { %>
<div class="card-panel red lighten-3"><%= error %></div>
<% } %>
