<div class="navbar-fixed">
    <nav class="nav-wrapper white">
      <div class="container">
        <a href="#" class="brand-logo black-text">Portfolio review</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons black-text">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a class=" black-text" href="">Home</a></li>
          <li><a class=" black-text" href="/campgrounds">Explore</a></li>
          <li><a class=" black-text" href="/campgrounds/new">Your portfolio</a></li>
          <% if(currentUser && currentUser._id){ %> 
            <li><a href="/user/logout" class="btn white black-text">logout</a></li>
          <% } else {%> 
          
          <li><a href="/user/login" class="btn white black-text">Login</a></li>
          <li><a href="/user/register" class="btn white black-text">Register</a></li>
          <% } %> 
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-links">
    <li><a class=" black-text" href="">Home</a></li>
    <li><a class=" black-text" href="/campgrounds">Explore</a></li>
    <li><a class=" black-text" href="/campgrounds/new">Your portfolio</a></li>
    
      <li><a href="/user/login" class="btn white black-text">Login</a></li>
      <li><a href="/user/register" class="btn white black-text">Register</a></li>
      
      <li><a href="/logout" class="btn white black-text">logout</a></li>
      
  </ul>
  